.content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.chart-table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 300px; /* Set the width of the table as needed */
}

.chart-table th, .chart-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

.button-link {
    display: inline-block;
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #2980b9;
}
