{% extends 'base.html' %}

{% block title %}Formula 1 Charts - Login{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth/auth.css') }}">
</head>
<div class="square-container p-4">
    <form action="{{ request.path }}" method="POST" class="...">

        {{ form.csrf_token }}

        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button> -->
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}
        
        <div class="form-group">
            {{ form.username(class_="form-control",placeholder="Username")}}
        </div>

        {% if request.path == '/auth/register' %}
        
        {% for error in form.email.errors %}
        {{ error }}
        {% endfor%}

        <div class="form-group">
            {{form.email(class_="form-control",placeholder="Email")}}
        </div>



        {% endif%}

        {% for error in form.password.errors %}
        {{ error }}
        {% endfor%}

        <div class="form-group">
            {{ form.password(class_="form-control",placeholder="Password")}}
        </div>

        {% if request.path == '/auth/register' %}

        {% for error in form.password_confirm.errors %}
        {{ error }}
        {% endfor%}

        <div class="form-group">
            {{form.password_confirm(class_="form-control",placeholder="Confirm Password")}}
        </div>

        {% endif%}

        <button type="submit" class="btn btn-block btn-primary mb-3">
            {{ btn_action }}
        </button>

        <div class="form-group"></div>
            <p>
                {% if request.path != '/auth/register' %}
                New here?
                <a href="{{url_for('auth.register')}}">Create account</a>
                {% else %}
                Already have an account?
                <a href="{{url_for('auth.login')}}">Login</a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endblock %}