.chart-title h1 {
    font-size: 2.5em;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
}

.chart-description {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 80%;
    box-sizing: border-box;
    display: inline-block;
}

.chart-description p {
    font-size: 24px;
    color: #333;
    margin: auto;
    text-align: justify;
}

.content-container {
    margin-top: 60px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    max-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

figcaption {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
}
