{% extends 'base.html' %}

{% block title %}Formula 1 Charts - Charts{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/charts/list.css') }}">
</head>
<body>

{% for chart in charts %}
<div class="content-container">
    <div class="image-container">
        <a href="{{ url_for('charts.chart_details', chart_id=chart.id) }}">
            <div class="image-item">
                <img src="{{ url_for('static', filename=chart.filename) }}" alt="{{ chart.title }}">
                <figcaption>{{ chart.title }}</figcaption>
            </div>
        </a>
    </div>
</div>
{% endfor %}


</body>
{% endblock %}
