{% extends 'base.html' %}
{% import "charts/drivers.html" as drivers %}
{% block title %}Formula 1 Charts - {{chart.title}}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/charts/single.css') }}">
    <title>Image Gallery</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .is-hidden {
            display: none;
        }
    </style>
</head>
<body>

<div class="content-container">
    <div class="chart-title">
        <h1>{{ chart.title }}</h1>
    </div>
    {% if img_data %}
    <div class="image-container">
        <div class="image-item">
            <!-- <img src={{ url_for('static', filename=chart.filename) }}> -->
            <img src="data:image/png;base64,{{img_data}}" alt="plot">
        </div>
        
    </div>
    {% endif %}
    {% if driver_not_found_error %}
    <div class="error-container">
        <p>{{ driver_not_found_error }}</p>
    {% endif %}
    <div class="chart-description">
        <p>{{ chart.description }}</p>
    </div>
    <div>
        <form id="driver-form" action="" method="POST" role="form">
            {{ form.hidden_tag() }}
            <label for="{{ form.season.id }}">Season:</label>
            {{ form.season(placeholder="Season") }}
            {% if form.season.errors %}
            <p class="error">{{ ', '.join(form.season.errors) }}</p>
            {% endif %}
            <div id="subforms-container">
                {% for subform in form.drivers %}
                    {{ drivers.render_drivers(subform, loop.index0) }}
                {% endfor %}
            </div>
            <a id="add", href="#">Add Driver</a>
            <button type="submit">Send</button>
        </form>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        {# Form template #}
        {{ drivers.render_drivers(_template, '_') }}
    </div>
</div>
<script>
    const ID_RE = /(-)_(-)/;

/**
 * Replace the template index of an element (-_-) with the
 * given index.
 */
function replaceTemplateIndex(value, index) {
    return value.replace(ID_RE, '$1'+index+'$2');
}

/**
 * Adjust the indices of form fields when removing items.
 */
function adjustIndices(removedIndex) {
    var $forms = $('.subform');

    $forms.each(function(i) {
        var $form = $(this);
        var index = parseInt($form.data('index'));
        var newIndex = index - 1;

        if (index < removedIndex) {
            // Skip
            return true;
        }

        // This will replace the original index with the new one
        // only if it is found in the format -num-, preventing
        // accidental replacing of fields that may have numbers
        // intheir names.
        var regex = new RegExp('(-)'+index+'(-)');
        var repVal = '$1'+newIndex+'$2';

        // Change ID in form itself
        $form.attr('id', $form.attr('id').replace(index, newIndex));
        $form.data('index', newIndex);

        // Change IDs in form fields
        $form.find('label, input, select, textarea').each(function(j) {
            var $item = $(this);

            if ($item.is('label')) {
                // Update labels
                $item.attr('for', $item.attr('for').replace(regex, repVal));
                return;
            }

            // Update other fields
            $item.attr('id', $item.attr('id').replace(regex, repVal));
            $item.attr('name', $item.attr('name').replace(regex, repVal));
        });
    });
}

/**
 * Remove a form.
 */
function removeForm() {
    var $removedForm = $(this).closest('.subform');
    var removedIndex = parseInt($removedForm.data('index'));

    $removedForm.remove();

    // Update indices
    adjustIndices(removedIndex);
}

/**
 * Add a new form.
 */
function addForm() {
    var $templateForm = $('#drivers-_-form');

    if ($templateForm.length === 0) {
        console.log('[ERROR] Cannot find template');
        return;
    }

    // Get Last index
    var $lastForm = $('.subform').last();

    var newIndex = 0;

    if ($lastForm.length > 0) {
        newIndex = parseInt($lastForm.data('index')) + 1;
    }

    // Maximum of 20 subforms
    if (newIndex >= 20) {
        console.log('[WARNING] Reached maximum number of elements');
        return;
    }

    // Add elements
    var $newForm = $templateForm.clone();

    $newForm.attr('id', replaceTemplateIndex($newForm.attr('id'), newIndex));
    $newForm.data('index', newIndex);

    $newForm.find('label, input, select, textarea').each(function(idx) {
        var $item = $(this);

        if ($item.is('label')) {
            // Update labels
            $item.attr('for', replaceTemplateIndex($item.attr('for'), newIndex));
            return;
        }

        // Update other fields
        $item.attr('id', replaceTemplateIndex($item.attr('id'), newIndex));
        $item.attr('name', replaceTemplateIndex($item.attr('name'), newIndex));
    });

    // Append
    $('#subforms-container').append($newForm);
    $newForm.addClass('subform');
    $newForm.removeClass('is-hidden');

    $newForm.find('.remove').click(removeForm);
}


$(document).ready(function() {
    $('#add').click(addForm);
    $('.remove').click(removeForm);
});
</script>
</body>
{% endblock %}