{% extends 'base.html' %}

{% block title %}Formula 1 Charts - Charts{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/charts/list.css') }}">
</head>
<body>

<div class="content-container">
    <div class="image-container">
        <!-- Replace the URLs with the actual URLs of your images -->
        <div class="image-item">
            <img src={{ url_for('static', filename='img1.png') }} alt="Image 1">
            <figcaption>Title 1</figcaption>
        </div>
        <div class="image-item">
            <img src={{ url_for('static', filename='img2.jpg') }} alt="Image 2">
            <figcaption>Title 2</figcaption>
        </div>
        <div class="image-item">
            <img src={{ url_for('static', filename='img3.png') }} alt="Image 3">
            <figcaption>Title 3</figcaption>
        </div>
        <div class="image-item">
            <img src={{ url_for('static', filename='img4.jpg') }} alt="Image 4">
            <figcaption>Title 4</figcaption>
        </div>
        <!-- Add more image items as needed -->
    </div>
</div>

</body>
{% endblock %}
