{% extends 'base.html' %}

{% block title %}Formula 1 Charts - Admin{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin/manage.css') }}">
    <title>Image Gallery</title>
</head>
<body>

<div class="content-container">
    <div class="chart-title">
        <h1>{{ chart.title }}</h1>
    </div>
    <div class="image-container">
        <div class="image-item">
            <img src={{ url_for('static', filename=chart.filename) }}>
        </div>
    </div>
    <div class="chart-description">
        <p>{{ chart.description }}</p>
    </div>
</div>

</body>
{% endblock %}