{% extends 'base.html' %}

{% block title %}Formula 1 Statistics - Admin{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='styles/admin/manage.css') }}">
</head>
<body>

    <div class="content-container">
        <a class="chart-title" href="{{ url_for('admin.users') }}">
            <div>Manage Users</div>
        </a>
        <a class="chart-title" href="{{ url_for('admin.charts') }}">
            <div>Manage Charts</div>
        </a>
    </div>

</body>
{% endblock %}